<%- include('common/base1.ejs',{title:"User Info"}) %>
    <div class="p-5">
        <a type="button" class="btn btn-outline-primary mb-3" href="/createuser">&#60 Back</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <p class="text-center">User ID</p>
                    </th>
                    <th scope="col">
                        <p class="text-center">Name</p>
                    </th>
                    <th scope="col">
                        <p class="text-center">Photo</p>
                    </th>
                    <th scope="col">
                        <p class="text-center">Action</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(item=> { %>
                    <tr scope="row">
                        <td>
                           <p class="text-center"><%= item.userid %></p> 
                        </td>
                        <td>
                            <p class="text-center"><%= item.name %></p>
                            
                        </td>
                        <td class="d-flex justify-content-center">
                            <img src=<%=item.image %> alt="" class="table-img">
                        </td>
                        <td >
                            <div class="d-flex justify-content-center">
                                <% if (item.status=="Pending") { %>
                                    <button id=<%= item.userid %> onclick="action('accept',this)" type="button" class="btn btn-primary me-3">Done</button>
                                <% } %>
                                <button type="button" id=<%= item.userid %> onclick="action('delete',this)"
                                    class="btn btn-outline-primary">Delete</button>
                            </div>
                            
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('common/base2.ejs') %>